{
  "printWidth": 120,                       // Wrap lines after 80 characters
  "tabWidth": 4,                           // Indent with 4 spaces
  "useTabs": false,                        // Use spaces instead of tabs
  "semi": true,                            // Add semicolons at the end of statements
  "singleQuote": false,                    // Prefer single quotes over double quotes
  "quoteProps": "as-needed",               // Only add quotes around object keys when necessary
  "jsxSingleQuote": false,                 // Use double quotes in JSX
  "trailingComma": "es5",                  // Add trailing commas where valid in ES5
  "bracketSpacing": true,                  // Space between brackets in objects { like this }
  "bracketSameLine": false,                // Put `>` of a multi-line element on its own line
  "arrowParens": "always",                 // Always include parentheses around arrow function params
  "endOfLine": "lf",                       // Use Unix line endings
  "embeddedLanguageFormatting": "auto"     // Format embedded code automatically
}
