# Rust
target/*
Cargo.lock

# Expo
.expo/*
**/*/.expo
apps/expo/ios
apps/expo/android

# Next.js
.next/*
.next
.turbo/*
.turbo
build/**

# Node.js
node_modules/

# Environments
example.env
env/*

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots



