######################
# Main Gitignore Paths
######################

/store/client
/store/node

var/

# SSL certificates
keys/
certs/
*.pem
*.key
*.crt

# Project builds
node_modules/
__pycache__/
build/
target/
*.lock
.next/
.turbo/
.svelte-kit/
.storybook/
.venv/
