{
    auto_https off
}

{$ASTRO_HOST} {
    reverse_proxy astro:{$ASTRO_PORT}
    handle_path /health {
        respond "OK"
    }
}

{$APP_HOST} {
    reverse_proxy flutter-app:{$FLUTTER_PORT}
}

{$API_HOST} {
    reverse_proxy api:{$API_PORT}
}

{$DOWNLOADS_HOST} {
    reverse_proxy flutter-app:{$FLUTTER_PORT}
}
